<template>
  <v-container fill-height fluid>
    <v-row align="center" justify="center">
      <v-col xs="10" sm="8" md="8" lg="6">
        <SearchForm />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import SearchForm from "../components/SearchForm";
export default {
  name: "Home",

  components: {
    SearchForm,
  },
};
</script>
