<template>
  <v-container fluid>
    <v-row>
      <v-col v-for="i in 32" :key="i" xs="12" sm="6" md="4  " lg="3">
        <ImageCard src="https://picsum.photos/200" description="Mockup text" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ImageCard from "../components/ImageCard";
import { mapMutations } from "vuex";

export default {
  name: "Home",
  props: {
    query: {
      type: String,
      default: null,
    },
  },
  components: {
    ImageCard,
  },
  methods: {
    ...mapMutations(["setQuery"]),
    searchQuery() {
      if (!this.query.length) return;
      this.setQuery(this.query);
    },
  },
  created() {
    this.searchQuery();
  },
};
</script>
