<template>
  <v-app-bar
    app
    flat
    dark
    elevate-on-scroll
    elevation="8"
    :color="scrollPosition < 50 ? '#202124' : '#303134'"
    :class="{ borderbottom: scrollPosition < 50 }"
  >
    <v-row align="center">
      <v-col
        xs="6"
        sm="3"
        md="3"
        lg="2"
        cols="12"
        v-if="$vuetify.breakpoint.smAndUp"
        ><v-btn text small plain link :ripple="false" to="/">
          <h3>Wyszukiwarka</h3>
        </v-btn></v-col
      >
      <v-col xs="6" sm="5" md="6" lg="4" cols="12">
        <v-text-field
          v-model="queryValue"
          filled
          rounded
          outlined
          dark
          dense
          class="mt-5"
        >
          <template v-slot:append>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-icon v-on="on"> mdi-keyboard </v-icon>
                <v-icon class="ml-2" @click="sendSearch"> mdi-magnify </v-icon>
              </template>
              Narzędzie do wprowadzania tekstu
            </v-tooltip>
          </template>
        </v-text-field>
      </v-col>
    </v-row>
    <v-spacer></v-spacer>
    <v-btn icon to="/">
      <v-icon>mdi-home</v-icon>
    </v-btn>
    <UploadIcon />
  </v-app-bar>
</template>

<script>
import UploadIcon from "./UploadDialog.vue";
export default {
  name: "AppBar",
  data() {
    return {
      queryValue: null,
      scrollPosition: null,
    };
  },
  components: {
    UploadIcon,
  },
  props: {
    query: {
      type: String,
      default: null,
    },
  },
  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY;
    },
    sendSearch() {
      if (this.query === this.queryValue) return;
      this.$router.push({ name: "Search", query: { q: this.queryValue } });
    },
  },
  mounted() {
    this.queryValue = this.query;
    window.addEventListener("scroll", this.updateScroll);
  },
};
</script>
<style>
.v-app-bar-title__content {
  width: 300px !important;
}
.borderbottom {
  border-bottom: #303134 2px solid !important;
}
</style>
