<template>
  <v-card class="mx-auto" max-width="344">
    <v-img :src="src" height="200px"></v-img>

    <v-card-title>
      {{ description }}
    </v-card-title>
  </v-card>
</template>
<script>
export default {
  props: {
    src: {
      type: String,
      default: null,
    },
    description: {
      type: String,
      default: null,
    },
  },
};
</script>

<style scoped></style>
