<template>
  <v-row class="text-center">
    <v-col xs="12" cols="12">
      <h1 class="white--text">Wyszukiwarka obrazów</h1>
    </v-col>
    <v-col xs="12" cols="12">
      <v-text-field
        v-model="query"
        filled
        rounded
        outlined
        dark
        prepend-inner-icon="mdi-magnify"
      >
        <template v-slot:append>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-icon v-on="on" @click="displayKeyboard"> mdi-keyboard </v-icon>
            </template>
            Narzędzie do wprowadzania tekstu
          </v-tooltip>
        </template>
      </v-text-field>
    </v-col>
    <v-col xs="12" cols="12">
      <v-btn
        v-for="button in buttons"
        :key="button.text"
        outlined
        dark
        :width="
          $vuetify.breakpoint.mdAndUp ? button.width_large : button.width_small
        "
        class="mx-2"
        @click="button.click"
      >
        {{ button.text }}
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "SearchForm",
  data() {
    return {
      query: null,
      buttons: [
        {
          text: "Szukaj",
          click: this.searchQuery,
          width_small: "40%",
          width_large: "25%",
        },
        {
          text: "Losowo",
          click: "/lucky",
          width_small: "40%",
          width_large: "25%",
        },
      ],
    };
  },

  methods: {
    ...mapMutations(["setQuery"]),
    searchQuery() {
      if (!this.query || !this.query.length) return;
      this.setQuery(this.query);
      this.$router.push({ name: "Search", query: { q: this.query } });
    },
    displayKeyboard() {
      // TODO: display keyboard
      console.log("display keyboard...");
    },
  },
};
</script>

<style scoped lang="scss">
h1 {
  font-size: 4vw;
  font-weight: 700;
  word-spacing: 999px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 6vw;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 10vw;
  }
}
</style>
