<template>
  <v-dialog transition="dialog-top-transition" max-width="450">
    <template v-slot:activator="{ on, attrs }">
      <v-btn icon v-bind="attrs" v-on="on">
        <v-icon>mdi-upload</v-icon>
      </v-btn>
    </template>
    <template v-slot:default="dialog">
      <v-card>
        <v-toolbar color="#303134" dark>Wrzuć stronę</v-toolbar>
        <v-card-text>
          <v-file-input
            v-model="file"
            show-size
            label="Wybierz plik *.jpg, *.png, *.pdf"
            accept="image/x-png,.pdf,image/jpeg"
          ></v-file-input>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn text @click="sendFile(dialog)">Wyślij</v-btn>
          <v-btn text @click="dialog.value = false">Zamknij</v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-dialog>
</template>

<script>
import axios from "axios";
export default {
  name: "UploadDialog",
  data() {
    return {
      file: null,
    };
  },
  methods: {
    sendFile(dialog) {
      const formData = new FormData();
      formData.append("file", this.file);
      axios
        .post("http://localhost:8000/api/v1/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then(function () {
          console.log("SUCCESS!!");
          dialog.value = false;
        })
        .catch(function () {
          console.log("FAILURE!!");
        });
    },
  },
};
</script>

<style></style>
