<template>
  <v-app>
    <v-main>
      <router-view />
      <AppBar v-if="$route.name !== 'Home'" :query="getQuery" />
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "App",
  components: {
    AppBar: () => import(/* webpackPrefetch: true */ "./components/AppBar.vue"),
  },
  data: () => ({
    //
  }),
  computed: {
    ...mapGetters(["getQuery"]),
  },
};
</script>

<style lang="scss">
main {
  background-color: #202124;
}
</style>
